{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OGeez</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
  </head>
  <body>
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'index' %}">Home</a>
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            <a href="{% url 'add-item' %}">Add Resource</a>
          </li>
        </ol>
      </nav>
      <div class="content container">
        {% block content %}{% endblock content %}
      </div>
  </body>
</html>
