{% extends 'ohgeez/base.html' %}
{% load static %}

{% block content %}
<div class="row">
  <div class="jumbotron jumbotron-fluid">
      <img src="{% static 'images/logo.png' %}" class="center-block" alt="Logo">
      <p class="lead text-center"><small>Bridging the gap</small></p>
      <div class="list-group col-log">
        {% for category in object_list %}
        <a href="{% url 'item-list' category=category.id %}" class="list-group-item list-group-item-action text-center">
          {{ category.name }}
        </a>
        {% endfor %}
      </div>
  </div>
</div>

{% endblock content %}
